#header-background {
    position: relative;
    background-color: rgb(28, 27, 27);
    width: 100%;
    padding: 20px;
    /* background-position: center; */
    z-index: 1
}

.banner{
    width: 100%;
}

.header-container {
    position: relative;
    margin-left: 5%;
}

#header-title {
    color: white;
    position: relative;
}

.subtitle {
    color: rgb(255, 170, 0);
}

.body-container {
    position: relative;
    display: block;
    margin: auto;
    width: 80%;
}

#search-container {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%;
}

#search-result {
    margin-top: 40px;
    margin-bottom: 40px;
}

#hero-collection {
    display: flex;
    flex-flow: row wrap;
    justify-content:left;
    margin-top: 40px;
}

.heroImg {
    max-width: 200px;
}

.card {
    width: 200px;
    height: 400px;
    margin: 6px;
    margin-bottom: 16px;;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 0;
}

.card:hover {
    background-color: rgb(186, 28, 28);
    border: rgb(186, 28, 28) solid 8px;
    transition: background-color .2s;
    transition: border .2s;
}

.hero-name {
    font-family: "RobotoCondensed" Bold,Trebuchet MS,Helvetica,Arial,sans-serif;;
    margin: 16px;
    font-size: 16px;
    font-weight: bold;
    color: white
}

.result-box {
    position: relative; 
    max-width: 800px;
    margin-left: 5%;
}

.detail-container {
    background-color: rgb(186, 28, 28);
    margin-left: 300px;
    padding: 24px;
    height: 450px;
    width: 500px;
    position: relative;
    overflow: auto;
}

.search-image {
    width: 300px;
    float: left;
}

.result-hero-name {
    font-family: "RobotoCondensed" Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    /* width:fit-content;
    height: 50px; */
}

.hero-description {
    position:relative;
    color: white;
    margin-top: 16px;
}

.comic-book-container {
    margin-top: 24px;
    margin-bottom: 32px;
}

.book-list-title {
    font-size: 16px;
    font-weight: bold;
}

.comic-book-list {
    color: white;
}

.result-link {
    color: yellow;
    margin-bottom: 24px;
    /* position: absolute;
    bottom: 0; */
}

.close-btn {
    font-size: 32px;
    border: none;
    background-color: none;
    color: white;
    position:absolute;
    top:-4px;
    right:16px;
    padding: 0;
}